<nav>
    <!-- Checkbox for toggling menu -->
    <input type="checkbox" id="check">

    <!-- Menu icon -->
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>

    <!-- Site logo -->
    <label class="logo">Barber Shop</label>

    <!-- Navigation links -->
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="{% url 'Barber' %}">Services</a></li>
      <li><a href="{% url 'client' %}">Contact</a></li>
      <li><a class="active" href="{% url 'appointment' %}">Appointment</a></li>
        <li><a href="{% url 'login' %}">Admin Account</a></li>
    </ul>
  </nav>